table {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 8px;
    text-wrap: pretty;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-collapse: collapse;
}


th {
    border-bottom: 2px solid;
    padding: 8px;
}

td {
    border-bottom: 1px solid;
    padding: 8px;
}